@keyframes slideIn {
    0% {
      opacity: 0%;
      transform: translateY(-5%);
    }
    40% {
      transform: translateY(0%);
    }
    100% {
      opacity: 100%;
      transform: translateY(0%);
    }
  }
  
  body {
    animation: 1s ease-out 0s 1 slideIn;
  }